apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../../base/apps
labels:
  - pairs:
      env: dev
    includeSelectors: true
    includeTemplates: true

images:
  - name: trenchacrcoredev.azurecr.io/demo-api
    newTag: v1
