controller:
  replicaCount: 1

  nodeSelector:
    workload: platform

  tolerations:
    - key: 'platform'
      operator: 'Equal'
      value: 'true'
      effect: 'NoSchedule'

  service:
    type: LoadBalancer
    annotations:
      service.beta.kubernetes.io/azure-load-balancer-internal: 'true'
    externalTrafficPolicy: Local

  metrics:
    enabled: true

  ingressClassResource:
    enabled: true
    name: nginx
    controllerValue: k8s.io/ingress-nginx

  watchIngressWithoutClass: true
